<!-- Start of product gallery -->
<section>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Ofertas</h1>
                <p class="lead text-muted">
                    Pellentesque ut nisi erat. Maecenas dictum dictum dui, id interdum erat dignissim eget. 
                    Sed sit amet tristique mauris. Vivamus rhoncus venenatis egestas. 
                    In velit felis,varius commodo nisl. 
                    Vestibulum euismod, elit sed pharetra pellentesque, id ullamcorper nisl arcu non ante.
                </p>
            </div>
        </div>
    </section>  
    <div class="album py-5 bg-light"><!-- div album start -->
        <div class="container"><!-- container start -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"><!-- div row start -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="images/Ag1_09.jpg" alt="">
                        <a class="text-muted small text-center" href='https://br.freepik.com/vetores/poster'>Poster vetor criado por al17 - br.freepik.com</a>          
                        <div class="card-body">
                            <h3>Aliquam tincidunt.</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Sed pharetra ullamcorper diam, vitae feugiat nulla ultricies sit amet. Phasellus nec urna sapien. 
                                    Aliquam vestibulum bibendum efficitur. Pellentesque ut nisi erat. 
                                    Maecenas dictum dictum dui, id interdum erat dignissim eget. Aliquam pharetra risus eget mi euismod tincidunt.
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">  
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"><!-- col start -->
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="images/18961875.jpg" alt="">
                        <a class="text-muted small text-center" href="http://www.freepik.com">Designed by catalyststuff / Freepik</a>
                        <div class="card-body">
                            <h3>Pellentesque erat.</h3>
                                <p class="card-text">
                                    Aliquam vestibulum bibendum efficitur. Pellentesque ut nisi erat. 
                                    Maecenas dictum dictum dui, id interdum erat dignissim eget. Aliquam pharetra risus eget mi euismod tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Sed pharetra ullamcorper diam, vitae feugiat nulla ultricies sit amet. Phasellus nec urna sapien. 
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">  
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- col end -->
                <div class="col"><!-- col start -->
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="images/5879936.jpg" alt="">
                        <a class="text-muted small text-center" href='https://br.freepik.com/vetores/dia-das-bruxas'>Dia das bruxas vetor criado por stories - br.freepik.com</a>
                        <div class="card-body">
                            <h3>Maecenas erat.</h3>
                                <p class="card-text">
                                    Sed pharetra ullamcorper diam, vitae feugiat nulla ultricies sit amet. Phasellus nec urna sapien. 
                                    Aliquam vestibulum bibendum efficitur. Pellentesque ut nisi erat. 
                                    Maecenas dictum dictum dui, id interdum erat dignissim eget. Aliquam pharetra risus eget mi euismod tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">  
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- col end -->
            </div><!-- div row end -->
        </div><!-- container end -->
    </div><!-- div album end -->
</section>
<!-- End of product gallery -->