<!-- Start Banner -->
<header>
    <div class="album bg-body py-5 bg-light">
        <div class="container">
            <div class="row align-items-end">
                <!-- logo -->
                <div class="col col-4 p-3">
                    <img class="pulse mx-auto d-block" src="assets/images/Ag1_09.jpg" alt="logo">                           
                </div>
                <!-- the sentence -->
                <div class="col-8">
                    <figure class="justify-content-center">
                        <blockquote class="blockquote">
                            <p>Choose to play!</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            We all make choices in life, but in the end <cite title="Source Title">our choices </cite>make us.
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Banner -->
