<!-- Start carousel -->
<section>
    <div class="container">
        <div id="slideShow" class="carousel slide" data-bs-ride="carousel">

            <!-- start of indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="0" aria-label="Slide 0"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="2" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="4" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="5" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="6" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="7" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="8" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#slideShow" data-bs-slide-to="9" aria-label="Slide 9"></button>
            </div>
            <!-- end of indicators -->

            <!-- Carousel images start -->
            <div class="carousel-inner">
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="assets/images/Cover_1.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="assets/images/Cover_2.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_3.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_4.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_5.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_6.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_7.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_8.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_9.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/Cover_10.jpg" class="d-block w-100" alt="Tomb Raider">
                </div>
            </div>
            <!-- Carousel images end -->

            <!-- control prev -->
            <button class="carousel-control-prev" type="button" data-bs-target="#slideShow" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>

            <!-- control next -->
            <button class="carousel-control-next" type="button" data-bs-target="#slideShow" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próxima</span>
            </button>
        </div>
    </div>
</section>
<!-- carousel end -->